<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="true">
    <testsuite name="trash-panda/m2-message-manager-remover unit tests">
        <directory suffix="Test.php">test</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
